<br>
<h2 style="text-align: center;">Customer Details</h2>
<br>
<div class="table-responsive">
    <table class="table table-hover" border="1" style="text-align: center;">
        <thead>
            <tr>
                <th style="text-align: center">Customer Id</th>
                <th style="text-align: center">Customer Name</th>
                <th style="text-align: center">Contact</th>
                <th style="text-align: center">Email</th>
                <th style="text-align: center">Street</th>
                <th style="text-align: center">Area</th>
                <th style="text-align: center">City</th>
                <th style="text-align: center">Pincode</th>
                <th style="text-align: center">BLOCK</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="padding-top:17px;">1</td>
                <td style="padding-top:17px;">Akshay Nadda</td>
                <td style="padding-top:17px;">7083196606</td>
                <td style="padding-top:17px;">akshaynadda@gmail.com</td>
                <td style="padding-top:17px;">Nadda Galli</td>
                <td style="padding-top:17px;">Jaysingpur</td>
                <td style="padding-top:17px;">Kolhapur</td>
                <td style="padding-top:17px;">416101</td>
                <td>
                <button type="button" class="btn btn-danger">Block Customer</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>