<br>

<h2 style="padding-left: 600px;">History</h2>
<hr>
<hr>

<table style="margin-left: 100px;" class="table table-striped table-hover">
    
        <tr>
            <table>
                <tr><td style="padding-left: 50px;">Order Id</td><td style="padding-left: 10px;"><input type="text" value="1" readonly></td><td style="padding-left: 30px;"><a class="btn btn-danger" routerLink="#" role="button">Cancel Order</a></td></tr>
                <br>
                <tr><td style="padding-left: 50px;">Product Name</td><td style="padding-left: 10px;"><input type="text"></td><td style="padding-left: 70px;">Quantity</td><td style="padding-left: 10px;"><input type="text"></td><td style="padding-left: 70px;">Price</td><td style="padding-left: 10px;"><input type="text"></td></tr>
                <br><br>
                 <tr><td style="padding-left: 50px;text-align: end;" colspan="3">Total</td><td style="padding-left: 10px;text-align: start;" ><input type="text" readonly></td><td colspan="2" style="text-align:end ;padding-left: 70px;">
                        
                         </td></tr>
        </table>


            <hr>

            <table>
                    <tr><td style="padding-left: 50px;">Order Id</td><td style="padding-left: 10px;"><input type="text" value="2" readonly></td><td style="padding-left: 30px;"><a class="btn btn-danger" routerLink="#" role="button">Cancel Order</a></td></tr>
                    <br>
                    <tr><td style="padding-left: 50px;">Product Name</td><td style="padding-left: 10px;"><input type="text"></td><td style="padding-left: 70px;">Quantity</td><td style="padding-left: 10px;"><input type="text"></td><td style="padding-left: 70px;">Price</td><td style="padding-left: 10px;"><input type="text"></td></tr>
                    <br><br>
                     <tr><td style="padding-left: 50px;text-align: end;" colspan="3">Total</td><td style="padding-left: 10px;text-align: start;" ><input type="text" readonly></td><td colspan="2" style="text-align:end ;padding-left: 70px;">
                            
                             </td></tr>
            </table>
       
       
       
            <hr>    
    </tr>
    
</table>
