<br>
<h2 style="text-align: center;">Blocked Customers</h2>
<br>
<div class="table-responsive">
    <table class="table table-hover" border="1" style="text-align: center;">
        <thead>
            <tr>
                <th style="text-align: center;">Customer Id</th>
                <th style="text-align: center;">Customer Contact</th>
                <th style="text-align: center;">Customer Email Id</th>
                <th style="text-align: center;">Customer Unblock</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="padding-top: 15px;">2</td>
                <td style="padding-top: 15px;">9922445533</td>
                <td style="padding-top: 15px;">aish@gmail.com</td>
                <td>    
                <button type="button" class="btn btn-danger">Unblock</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
