<br>
<h2 style="text-align: center;">ORDERS</h2>
<br>
<div class="table-responsive">
    <table class="table table-hover" border="1" style="text-align: center;">
        <thead>
            <tr>
                <th style="text-align: center">Order Id</th>
                <th style="text-align: center">Customer Name</th>
                <th style="text-align: center">Restaurant Name</th>
                <th style="text-align: center">Items</th>
                <th style="text-align: center">Quantity</th>
                <th style="text-align: center">Order Date</th>
                <th style="text-align: center">Order Time</th>
                <th style="text-align: center">Delivery Time</th>
                <th style="text-align: center">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Akshay Nadda</td>
                <td>Abhiruchi</td>
                <td>Roti</td>
                <td>3</td>
                <td>28-Nov-2019</td>
                <td>12:50:56 PM</td>
                <td>01:15:10 PM</td>
                <td>Delivered</td>
            </tr>
        </tbody>
    </table>
</div>
