<div class="table-responsive" style="text-align: center;margin-left: 400px;margin-top: 0px;margin-right: 300px;">
        <form action="" method="POST" class="form-inline" role="form">
        <table class="table table-hover">
            <thead>
                        <tr><td colspan="2" style="text-align: center;"><img style="width: 150px;height: 150px;" src="../../assets/food (1).jpg"></td></tr>
                <tr><td colspan="2"><h1 style="text-align:start;font-size: 30px;">Let's Get Started</h1></td></tr>
            </thead>
            <tbody>
                <tr>
                    <td style="font-size: 18px;text-align: end;padding-top: 15px;margin-top: 20px;">First Name</td>
                    <td><input class="form-control" name="firstname" required="required" type="text"  id="firstname" placeholder="Enter First Name"></td></tr>
                   <tr> <td style="font-size: 18px;text-align: end;padding-top: 15px;margin-top: 20px;">Last Name</td>
                    <td><input class="form-control" name="lastname" required="required" type="text"  id="lastname" placeholder="Enter Last Name"></td></tr>
                    <tr> <td style="font-size: 18px;text-align: end;padding-top: 15px;margin-top: 20px;">Email Address</td>
                    <td><input class="form-control" name="email" type="email" required="required"  id="email" placeholder="Enter Email Address"></td></tr>
                    <tr> <td style="font-size: 18px;text-align: end;padding-top: 15px;margin-top: 20px;">Contact</td>
                        <td><input class="form-control" name="contact" type="number" required="required"  id="contact" placeholder="Enter Contact Details"></td></tr>
                    <tr>
                        <td style="font-size: 18px;text-align: end;padding-top: 15px;margin-top: 20px;">Password</td>
                        <td><input class="form-control" name="password" type="password" required="required" id="password" placeholder="Enter Password"></td>        
                    </tr>
                    <tr>
                        <td colspan="2" style="padding-top: 10px;padding-bottom: 10px;"><button style="font-size: 15px;" type="submit" class="btn btn-primary">Sign Up</button></td>
                        
                    </tr>
            </tbody>
        </table>
        </form>
        <button style="font-size: 15px;" type="button" class="btn btn-lg btn-success" routerLink="/login">Already Have An Account?</button>
        
    </div>
    

