
<form action="" method="POST" class="form-inline" role="form">
<div class="table-responsive" style="padding-top: 20px;">
    <table class="table table-hover">
        <thead>
            <tr>
                <h2 style="padding-left: 50px;">Add Restaurant</h2>
            </tr>
        </thead>
        <tbody>
           <tr><td style="width: 57%;padding-left: 100px;text-align: right;padding-top: 30px;"> 
            <tr>
                <td style="padding-top: 10px;width: 200px;">Restaurant Name</td><td><input style="margin-left: 30px;width: 350px;" type="text" class="form-control" required="required" id="restname" name="restname"></td>
            </tr>
            <br>
            <tr>
                <td style="padding-top: 10px;width: 200px;">Restaurant Street</td><td><input style="margin-left: 30px;width: 350px;" type="text" class="form-control" required="required" id="reststreet" name="reststreet"></td>
            </tr>
            <br>
            <tr>
                <td style="padding-top: 10px;width: 200px;">Restaurant Area</td><td><input style="margin-left: 30px;width: 350px;" type="text" class="form-control" required="required" id="restarea" name="restarea"></td>
            </tr>
            <br>
            <tr>
                <td style="padding-top: 10px;width: 200px;">Restaurant City</td><td><input style="margin-left: 30px;width: 350px;" type="text" class="form-control" required="required" id="restcity" name="restcity"></td>
            </tr>
            <br>
            <tr>
                <td style="padding-top: 10px;width: 200px;">Restaurant Contact</td><td><input style="margin-left: 30px;width: 350px;" type="text" class="form-control" required="required" id="restcont" name="restcont"></td>
            </tr>
            <br>
            <tr>
                <td style="padding-top: 10px;width: 200px;">Email Address</td><td><input style="margin-left: 30px;width: 350px;" type="text" class="form-control" required="required" id="restemail" name="restemail"></td>
            </tr>
        </td>
            <td style="padding-left: 30px;">
                <div style="margin-left: 70px;" class="circle"></div>
                <br>
                <tr>
                <td><span style="text-align: right;"><h4>Add Your Restaurant Image</h4></span></td><td><input style="padding-left: 20px;padding-top: 8px;" type="file" id="restimg" name="restimg"></td>
                </tr>
            </td>
        </tr>
<tr><td style="padding-left: 100px;">
        <tr>
                <td style="padding-top: 10px;width: 200px;text-align: right;">Food Name</td><td><input style="margin-left: 30px;width: 350px;" type="text" class="form-control" required="required" id="foodname" name="foodname"></td>
        </tr>
        <br>
        <tr>
                <td style="padding-top: 10px;width: 200px;text-align: right;">Food Category</td><td><input style="margin-left: 30px;width: 350px;" type="text" class="form-control" required="required" id="category" name="category"></td>
        </tr>
        <br>
        <tr>
                <td style="padding-top: 10px;width: 200px;text-align: right;">Unit Price</td><td><input style="margin-left: 30px;width: 350px;" type="text" class="form-control" required="required" id="unitprice" name="unitprice"></td>
        </tr>
        <br>
        <tr>
            <td><a style="margin-left: 350px;" class="btn btn-primary" routerLink="#" role="button">Add Restaurant</a></td>
        </tr>
    </td><td rowspan="3" style="padding-top: 116px;"><a class="btn btn-warning" routerLink="#" role="button">Add Food</a></td></tr>  
</tbody>
    </table>
</div>

</form>
